.dashboard {
    margin: 0 120px;
}

.message {
    &__wrap{
        display: inline-block;
        background-color: $primary-blue;
        width: 48.1%;
        border-radius: 10px;
        margin: 20px 0 0 10px;
        text-align: left;
        vertical-align: top;
        box-shadow: 5px 5px 8px $blueish-black;

        &--heading{
            position: relative;
            color: $blueish-white;
            margin-left: 10px;
            padding-top: 10px;
        }

        &--wide{
            width: 98.7%;
            margin-bottom: 20px;
        }

        &--contact{
            width: 100%;
            margin-left: 0;
        }
    }

    &__container {
        background-color: $blueish-white;
        color: $blueish-black;
        margin: 10px;
        border-radius: 10px;
        padding: 10px 0;
    }

    &__item {
        display: block;
        margin: 0 10px;

        &--heading {
            margin: 0;
        }

        &--label {
            display: block;
            color: $blueish-white;
            width: 98%;
        }

        &--input {
            width: 49%;
            background-color: $blueish-white;
            border:none;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        &--textarea{
            width: 98%;
            background-color: $blueish-white;
            border: none;
            border-radius: 5px;
            min-height: 100px;
        }

        &--left,
        &--right{ 
            display: inline-block;
            width: 48%;
        }

        &--right{
            float: right;
        }
        &--contact{
            width: 40%;
        }

        &--radiovalue {
            color: $blueish-white;
        }

    }
}

hr {
    margin: 10px;

    &:last-of-type{
        display: none;
    }
}

fieldset{
    border:none;
}