header {
    background-color: $primary-blue;
    color: $blueish-white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
        flex: 1;
        margin: 10px 20px 10px 60px;
        max-height: 80px;
        max-width: 218px;
    }
}

.searchbar {
    flex: 2;
    height: 40px;
    border-radius: 10px;
    margin: 0 30px;
    padding: 0 30px;
}

.menu {
    flex: 3;
    margin: 0 60px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;

    &__item {
        text-decoration: none;
        color: $blueish-white;
        padding: 10px 10px;

        &--underline {
            text-decoration: underline;
        }
    }
}