Link:link {
  text-decoration: none;
}

.btn {
  padding: 10px 20px;

  &__banner {
    position: absolute;
    right: 120px;
    bottom: 50px;

    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      right: 60px;
  }

    @media screen and (max-width: $mobile) {
      bottom: 75px;
  }
  }

  &__card {
    width: 120px;
    margin: 0 auto 10px;
  }

  &__add {
    width: 80px;
    margin: 5px 0 10px;
    border-radius: 5px;
  }

  &__login {
    padding: 5px 20px;
    position: relative;
    margin: 0;
    right: -45px;
    bottom: 5px;
    border-radius: 10px;
  }

  &--green {
    background-color: $success-green;
    border: 3px solid $blueish-white;
    color: $blueish-white;
  }

  &--greenthin{
    background-color: $success-green;
    border: 2px solid $blueish-white;
  }

  &--contact{
    margin-left: 12px;
  }
}
